@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-LightItalic.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/RobotoSlab-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Red Hat Text';
    src: url('fonts/RedHatText-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper {
    max-width: 1369px;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
nav {
    padding: 0 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: 100%;
}

.icon button{
    cursor: pointer;
    background: white;
    border: white;
}


.title {
    width: 100%;
    
}

.title p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 57px;
    line-height: 67px;
    text-align: center;
    letter-spacing: -0.354701px;

    color: #282828;
}

.icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    
}

.icons button {
    background: white;
    border: none;
    padding: 0 20px;
    cursor: pointer;
}

.ili {
    display: block;
    font-size: 50px;
    font-weight: bold;
    color: red;
    text-align: end;
    cursor: pointer;
}

/* local page start */

.local_page {
    width: 300px;
    height: 800px;
    right: 0;
    transform: translateX(480px);
    position: absolute;
    background-color: blue;
    transition: all 1s;
    padding: 20px;
}

.section1{
    padding-top: 50px;
    width: 100%;
    height: auto;
}

/* =============== */

.sec_map{
    width: 100%;
    height: auto;
    /* background-color: purple; */
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 86px;
}

.sec_map_mini{
    border-radius: 7px;
    margin-top: 82px;
    width: 252px;
    height: 355px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sec_map_mini a{
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    /* left: 6.5%; */
    top: 3%;
}

.sec_map_mini a:hover{
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

.sec_map_mini a::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

.sec_map_mini a span{
    position: relative;
    z-index: 1;
}

.sec_map_mini a i{
    position: absolute;
    inset: 0;
    display: block;
}

.sec_map_mini  a i::before{
    content: '';
    position: absolute;
    border: 2px solid var(--clr);
    width: 10px;
    height: 5px;
    left: 80%;
    top: -3.5px;
    background: #27282c;
    transition: 0.5s;
    transform: translateX(-50%);
}

.sec_map_mini  a:hover i::before{
    width: 20px;
    left: 20%;
}


.sec_map_mini  a i::after{
    content: '';
    position: absolute;
    border: 2px solid var(--clr);
    width: 10px;
    height: 5px;
    left: 20%;
    bottom: -3.5px;
    transform: translateX(-50%);
    background: #27282c;
    transition: 0.5s;
}

.sec_map_mini  a:hover i::after{
    width: 20px;
    left: 80%;
}

.sec_map_mini img{
    width: 252px;
    height: 303px;
}

.sec_map_mini p{
padding-top: 22px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: -0.354701px;

color: #6F6F6F;

}

/* ================ */

.sec1_bottom{
    padding-top: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec1_b_t{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec1_b_t a{
    padding-left: 25px;
    font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: -0.354701px;
text-decoration: none;
color: #7D7D7D;
}

.sec1_b_t img{
    padding-left: 25px;
}

.sec1_b_b{
    padding-top: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec1_b_hr{
    padding-top: 100px;
    width: 99%;
}

/* === */

.section2 {
    padding-top: 338px;
    width: 80%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sec2_1 {
    padding-left: 55px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}

.sec2_1 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.354701px;

    color: #323232;
}

.sec2_1 span {
    padding-top: 9px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.354701px;

    color: #6D6D6D;
}


.sec2_2 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}

.sec2_2 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.354701px;

    color: #323232;
}

.sec2_2 span {
    padding-top: 11px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.354701px;

    color: #6D6D6D;
}


.sec2_3 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}

.sec2_3 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.354701px;

    color: #323232;
}

.sec2_3 span {
    padding-top: 9px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.354701px;

    color: #6D6D6D;
}

form {
    padding-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

input {
    width: 250px;
    height: 50px;
}

.sec2_3 button {
    margin-top: 20px;
    width: 133px;
    height: 45px;
    background-color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.354701px;
    cursor: pointer;
    color: #FFFFFF;
}

footer {
    margin-top: 28px;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

footer p {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.354701px;

    color: #FFFFFF;
}